<app-header [showNavigation]="false"></app-header>

<ion-content class="page-content "padding>
  <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label floating>Nom utilisateur</ion-label>
        <ion-input type="text" name="username" ngModel required #username="ngModel"
                   [class.invalid]="username.errors && username.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="username.errors?.required && username.dirty">
        Un nom d'utilisateur est requis
      </ion-item>

      <ion-item>
        <ion-label floating>Mot de passe</ion-label>
        <ion-input type="password" name="password" ngModel required #password="ngModel"
                   [class.invalid]="password.errors && password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="password.errors?.required && password.dirty">
        Un mot de passe est requis
      </ion-item>

      <div padding>
        <button ion-button color="primary" block type="submit" [disabled]="!form.valid">Se connecter</button>
      </div>

      <div padding>
        <button ion-button color="secondary" block type="button" (click)="signup()">S'inscrire</button>
      </div>
    </ion-list>
  </form>
</ion-content>
