<app-header [showNavigation]="true"></app-header>

<ion-content class="page-content" padding>
  <h3>Gestion de mes aliments</h3>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let food of _foodService.foods$ | async">
      <ion-item (click)="viewFood(food)">
        <p>{{food.quantity}} {{food.name}}</p>
        <p item-right>{{food.dlc | date:'dd/MM/yyyy'}}</p>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button icon-only color="light" (click)="viewFood(food)">
          <ion-icon name="eye"></ion-icon>
        </button>
        <button ion-button icon-only color="light" (click)="editFood(food)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="deleteFood(food)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button ion-button color="primary" full (click)="openModalAddFood()">Ajouter un aliment</button>
  </ion-toolbar>
</ion-footer>

<div id="modal-add-food" *ngIf="_modalAddFoodIsOpen" (click)="closeModalAddFood()">
  <button ion-button icon-only round color="light" id="btn-add-food-text" (click)="addFoodKeyboard()"
          class="btn-add-food">
    <ion-icon name="create"></ion-icon>
  </button>
  <button ion-button icon-only round color="light" id="btn-add-food-audio" (click)="addFoodListening()"
          class="btn-add-food">
    <ion-icon name="mic"></ion-icon>
  </button>
  <button ion-button icon-only round color="light" id="btn-add-food-scan" class="btn-add-food"
          (click)="addFoodScanBarcode()">
    <ion-icon name="qr-scanner"></ion-icon>
  </button>
</div>
