<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="showNavigation">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="app-title">Food Limit</div>
      <img class="app-logo" alt="logo" src="assets/images/logo.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Information sur mon aliment</h3>

  <ion-list *ngIf="_food!=null">
    <ion-item>
      <ion-label color="primary">Nom</ion-label>
      <ion-input disabled="true" [(ngModel)]="_food.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Quantité</ion-label>
      <ion-input disabled="true" type="number" [(ngModel)]="_food.quantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Date de consommation</ion-label>
      <ion-datetime disabled="true" displayFormat="DD/MM/YYYY" min="{{minDate}}" max="2099-12-31" [(ngModel)]="_food.dlc"></ion-datetime>
    </ion-item>

    <ion-item text-center style="border-bottom: 0px;">
      <img width="200px" height="200px" src="{{_food?.picture}}" alt="{{_food?.name}}" />
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-border text-center>
  <ion-toolbar>
    <ion-buttons left>

      <button ion-button color="primary" icon-only clear large (click)="editFood(_food)">
        Modifier
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button color="danger" icon-only clear large (click)="deleteFood(_food)">
        Supprimer
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
